@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  justify-content: center;
  background-color: #4b145b;
  width: 100%;
  min-height: 100vh;
}

.all_container {
  padding: 30px;
  margin-top: 60px;
  width: 1200px;
  display: flex;
  border-radius: 10px;
  background-color: #fff;
  height: auto;
  margin-bottom: 100px;
}
.container {
  font-size: large;
  font-family: roboto, sans-serif;
  padding: 25px;
  width: 700px;
  margin: 19px;
  width: 750px;
  box-shadow: 0 0 5px #424242;
  position: relative;
  border-radius: 10px;
}
.title {
  font-size: 36px;
  margin: 20px;
  font-family: "roboto", sans-serif;
  font-weight: 900;
}
.plus {
  margin-top: 10px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: large;
  border: none;
  background-color: #eae6eb;
  color: #4b145b;
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
}
.answer {
  margin-top: 10px;
}
.container p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}
